<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>github-packages</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github-packages</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github-packages</id>
                    <name>GitHub - DiPA-Projekt</name>
                    <url>https://maven.pkg.github.com/dipa-projekt/projektassistent-openapi</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>github</id>
            <username>${env.GIT_HUB_USERNAME}</username>
            <password>${env.GIT_HUB_PACKAGES_ACCESS_TOKEN}</password>
        </server>
        <server>
            <id>github-packages</id>
            <username>${env.GIT_HUB_USERNAME}</username>
            <password>${env.GIT_HUB_PACKAGES_ACCESS_TOKEN_WRITE}</password>
        </server>
        <server>
            <id>docker.dipa.online</id>
            <username>${env.DOCKER_REGISTRY_USERNAME}</username>
            <password>${env.DOCKER_REGISTRY_TOKEN}</password>
        </server>
    </servers>
</settings>