@import 'antd/dist/antd.less';

@import './wcag/config.less';
@import './wcag/antd.less';
@import './wcag/hacks.less';
@import './wcag/wcag.less';

h2 {
  font-size: 18pt;
}

.ant-popover-placement-top {
  max-width: 500px;
}

.ant-popover-inner-content {
  font-size: 14px;
}

.ant-anchor {
  font-size: 14px;
}

ul.ant-menu li.ant-menu-item a {
  padding: 0;
}

.ant-anchor-wrapper {
  margin-left: 10px !important;
}

.ant-anchor-link-title {
  white-space: break-spaces;
}

.ant-list {
  background: rgba(0, 0, 0, 0.05);
}

.ant-anchor-wrapper {
  @media (min-width: 992px) {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    height: calc(100vh - 2rem);
    overflow-y: auto;
  }
}

.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 16px !important;
}

.ant-layout-footer {
  padding: 14px 24px !important;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
