.tailoring-form mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

.tailoring-action-buttons {
  padding-bottom: 20px;
}

.tailoring-headers-align .mat-expansion-panel-header-title,
.tailoring-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.tailoring-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.tailoring-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

.tailoring-result {
  margin-top: 30px;
}
