img {
  max-width: 95%;
}

h2 {
  font-size: 18pt;
}

.ant-popover-inner {
  max-width: 500px;
}

.ant-popover-inner-content {
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
}

.ant-anchor {
  font-size: 14px;
}

ul.ant-menu li.ant-menu-item a {
  padding: 0;
}

.ant-anchor-wrapper {
  margin-left: 10px !important;
}

.ant-anchor-link-title {
  white-space: break-spaces;
}

.ant-list {
  background: rgba(0, 0, 0, 0.05);
}

.normalWrap label {
  white-space: normal;
  height: auto;
}

.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 16px !important;
}

.ant-layout-footer {
  padding: 14px 24px !important;
}

.ant-list-item-meta-title {
  margin-block-start: 5px;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hideMe .ant-tree-checkbox {
  display: none;
}



ul.sideMenu > li > div {
  position: sticky !important;
  top: 0;
  background-color: #fff;
  z-index: 30000;
}

ul.sideMenu > li > ul > li > div {
  position: sticky !important;
  top: 40px;
  background-color: #fafafa;
  z-index: 20000;
}

ul.sideMenu > li > ul > li > ul > li > div {
  position: sticky !important;
  top: 80px;
  background-color: #f5f5f5;
  z-index: 10000;
}

.trigger {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
  margin: 18px;
}

.trigger:hover {
  color: #1890ff;
}

.sider-toggle-breadcrumbs {
  flex-direction: row;
  flex-grow: 0;
}
/*.logo {*/
/*  height: 32px;*/
/*  margin: 16px;*/
/*  background: rgba(255, 255, 255, 0.3);*/
/*}*/

/* tailoring */

.multirow .ant-card-head-title {
  text-overflow: unset !important;
  white-space: unset !important;
}

.ant-card-head {
  background-color: #fdb66a !important;
}

.multirow .ant-card-head {
  background-color: #ffe3bd !important;
}

.multirow .ant-card-body {
  background-color: #fffaf0 !important;
}

.ant-card-head-title > h2 {
  font-size: 16pt;
  margin: 0 !important;
}

/*.ant-form-item:first-of-type:not(.multirow) {*/
/*  margin-top: 24px;*/
/*}*/

/* Otherwise, the drop-down lists look as if they are disabled */
.ant-select-selector > .ant-select-selection-placeholder {
  color: rgba(0, 0, 0, 0.88);
}

.disable-link {
  pointer-events: none;
}

/* side background color like menu background color */
.ant-layout-sider-children {
  background: #f5f5f5;
}

.ant-layout-header {
  background: #fff;
}
